* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.content {
  display: flex;
}

.section-filter {
  padding: 1% 1%;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #022d39;

  margin: 3% 0;
}

h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #022d39;
}

.header__content-input {
  width: 100%;
  margin: 0 0 0 4%;
}

.header__input {
  width: 100%;
}

.section-filter {
  height: 100vh;
  width: 25%;
}

.header {
  border-bottom: 2px solid #e5e5e5;
  padding: 0 0 3% 0;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__input {
  border: none;
  background: #f7f7f7;
}

.header__label {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 3% 5%;
  background: #f7f7f7;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.localization__select {
  width: 100%;
  background: #fafafa;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  border: none;
  padding: 2%;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filter__label {
  margin: 3% 0 0 0;
}

.button {
  margin: 5% 0 0 0;
  background: #3a67ab;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  width: 217px;
  height: 36px;
  border: none;
}
.header__label__image,
.localization__select,
.filter__label,
button {
  cursor: pointer;
}

.section-map {
  width: 75%;
  height: 100vh;
}
.map {
  width: 100%;
  height: 100vh;
}
